<!-- Footer -->
<footer class="mb-5">
	<hr>
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<h4 class="font-weight-bold">Sobre nós</h4>
				<p>
					Somos uma empresa especializada em gambiarras. Pensou em serviço em enrolar, chame a gente!
				</p>
			</div>
			<div class="col-sm-6">
				<h4 class="font-weight-bold">Contate-nos</h4>
				<p>
					Telefone: (11) 999999999
				</p>
				<p>
					Email: tauren_tabajara@gmail.com
				</p>
				<p>
					Endereço: Rua dos bobos, n 0, bairro Muito Esmero
				</p>
			</div>
		</div>
	</div>
</footer>
<!-- End Footer -->