{% extends 'core/base.html' %}
{% load static %}

{% block main %}
<style>
html {
	scroll-behavior: smooth;
}
body{
	font-family: 'Montserrat', sans-serif;

}
.col-md-4.bg-white{
	margin-top: 30vh;
	margin-left: 1.5rem;
	text-align: right;
}.col-sm-12{
	text-align: left;
}
</style>
<body>

<!-- Wrapper Site -->
<div id="main">

	<!-- Preload -->
	<div id="">

	</div>
	<!-- end Preload -->

	<div class="container">
		<div class="row">

			<!-- Wrapper left-->
			<div class="col-md-4 col-sm-12 bg-white">
				<div class="bg-white position-sticky fixed-top">
					<!-- Logo -->
					<div class="h1 mb-5">
						<a class="text-dark " href="{% url 'core:home' %}" style="font-family: 'Cinzel', serif;">Tauren</a>
					</div>
					<!-- End Logo -->

					{% include 'core/navbar.html' %}

					<!-- Socials -->
					<div class="mt-5">
						<a href="" title="Whatsapp">
							<i class="text-success fab fa-2x fa-whatsapp"></i>
						</a>
					</div>
					<!-- End Socials -->

					<div class="mt-2">
						<p>
							Tauren @ 2019. Design by Rodrigo Delfino
						</p>
					</div>
				</div>
			</div>
			<!-- end Wrapper left-->

			<!-- Content right-->
			<div class="col-md-6 col-sm-12 ml-4">
				<div class="container">
					<div class="text-center">

						<div class="mt-5">
							<blockquote class="blockquote">
								<p>
									<i class="fas fa-quote-left "></i>
									O que as suas mãos tiverem que fazer, que o façam com toda a sua força, pois na sepultura, para onde você vai, não há atividade nem planejamento, não há conhecimento nem sabedoria.
								</p>
								<footer class="blockquote-footer text-left">Eclesiaster 9:10</footer>
							</blockquote>

						</div>

						<div class="container-fluid">
							<div class="row text-white">
								<div class="col-md-6">
									<img class="card-img" src="../static/img/1.jpg" alt="">

									<h4 class="card-img-overlay">
										<p class="card-text bg-dark">Emotions</p>
									</h4>
								</div>
								<div class="col-md-6">
									<img class="card-img" src="../static/img/1.jpg" alt="">

									<h4 class="card-img-overlay">
										<p class="card-text bg-dark">Emotions</a>
									</h4>
								</div>
							</div>
							<div class="card text-white">
								<a href="">
									<img class="card-img" src="../static/img/3.jpg" alt="">
								</a>
								<h4 class="card-img-overlay">
									<p class="card-text bg-dark">Emotions</a>
								</h4>
							</div>
							<div class="card text-white">
								<a href="">
									<img class="card-img" src="../static/img/4.jpg" alt="">
								</a>
								<h4 class="card-img-overlay">
									<p class="card-text bg-dark">Emotions</a>
								</h4>
							</div>
						</div>
					</div>
					<div id="footer" class="mt-5">
						{% include 'core/footer.html' %}
					</div>
				</div>
				<!-- End Content righ-->
			</div>
		</div>
		<!-- End Wrapper Site -->
		{% endblock %}

	</div>