{% extends 'core/base.html' %}
{% load static %}

{% block main %}
<style>
html {
	scroll-behavior: smooth;
}
body{
	font-family: 'Montserrat', sans-serif;
	text-align: right!important;
}

@media only screen and (min-width: 768px) {
	.center-nav{
		margin-top: 30vh;
		text-align: right!important;

	}
	.collapse-menu{
		margin-top: 3rem!important;
		align-items: flex-end!important;
	}
	.logo{
		text-align: right!important;
	}
}

@media only screen and (max-width: 768px) {
	.logo{
		margin-left: auto!important;
		margin-right: auto!important;
	}
	.merchan{
		text-align: center!important;
	}
}

.bg{
	background-color: #343a409e
}

</style>
<body>

<!-- Wrapper Site -->
<div id="main">

	<!-- Preload -->
	<div id="">

	</div>
	<!-- end Preload -->

	<div class="container">
		<div class="row">

			<!-- Wrapper left-->
			<div class="col-md-5 bg-white center-nav">
				<div class="position-sticky fixed-top">

					{% include 'core/navbar.html' %}

				</div>
			</div>
			<!-- end Wrapper left-->

			<!-- Content right-->
			<div class="col-md-6">
				<div class="container">
					<div class="text-center">

						<div class="mt-5">
							<blockquote class="blockquote">
								<p>
									<i class="fas fa-quote-left "></i>
									O que as suas mãos tiverem que fazer, que o façam com toda a sua força, pois na sepultura, para onde você vai, não há atividade nem planejamento, não há conhecimento nem sabedoria.
								</p>
								<footer class="blockquote-footer text-left">Eclesiaster 9:10</footer>
							</blockquote>

						</div>

						<div class="container-fluid">
							<div class="row text-white">
								<div class="col-md-6">
									<img class="card-img" src="../static/img/1.jpg" alt="">

									<h4 class="card-img-overlay">
										<p class="card-text bg">Banana</p>
									</h4>
								</div>
								<div class="col-md-6">
									<img class="card-img" src="../static/img/1.jpg" alt="">

									<h4 class="card-img-overlay">
										<p class="card-text bg">Banana</p>
									</h4>
								</div>
							</div>
							<div class="card text-white">
								<a href="">
									<img class="card-img" src="../static/img/3.jpg" alt="">
								</a>
								<h4 class="card-img-overlay">
									<p class="card-text bg">Banana</p>
								</h4>
							</div>
							<div class="card text-white">
								<a href="">
									<img class="card-img" src="../static/img/4.jpg" alt="">
								</a>
								<h4 class="card-img-overlay">
									<p class="card-text bg">Banana</p>
								</h4>
							</div>
						</div>
					</div>

					{% include 'core/footer.html' %}

				</div>
				<!-- End Content righ-->
			</div>
		</div>
		<!-- End Wrapper Site -->

		<script type="text/javascript" src="{% static 'js/home.js' %}"></script>
	</div>
</div>
{% endblock %}


