<!-- Navigation -->
<nav class="navbar d-flex navbar-expand-lg navbar-light bg-white flex-sm-column">

	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navCollapse" aria-controls="navCollapse" aria-expanded="false" aria-label="Menu de Navegação">
		<i class="fas fa-ellipsis-v"></i>
	</button>

	<!-- Logo -->
	<a class="ml-auto navbar-brand logo" href="{% url 'core:home' %}">
		<h1 class="text-dark">Tauren</h1>
	</a>
	<!-- End Logo -->

	<div class="merchan collapse collapse-menu navbar-collapse flex-sm-column" id="navCollapse">
		<a class="nav-item nav-link text-dark" href="{% url 'core:home' %}">Home</a>

		<a class="nav-item nav-link text-dark" href="">A empresa</a>

		<a class="nav-item nav-link text-dark" data-toggle="collapse" href="#collapseList" role="button" aria-expanded="false" aria-controls="collapseList">Projetos</a>
		<div class="collapse" id="collapseList">
			<div style="font-size: 0.8rem">
				<a class="nav-item nav-link text-dark" href=""><strong>Projeto X</strong></a>
				<a class="nav-item nav-link text-dark" href=""><strong>Projeto Y</strong></a>
				<a class="nav-item nav-link text-dark" href=""><strong>Projeto Z</strong></a>
			</div>
		</div>

		<a class="nav-item nav-link text-dark" href="">Serviços</a>

		<a class="nav-item nav-link text-dark" href="#footer">Contatos</a>


			<!-- Socials -->
			<div class="nav-item nav-link p-0">
				<a href="" title="Whatsapp">
					<i class="fab fa-whatsapp btn btn-link"></i>
				</a>
				<a href="" title="Facebook">
					<i class="fab fa-facebook-square btn btn-link"></i>
				</a>
				<a href="" title="Instagram">
					<i class="fab fa-instagram btn btn-link"></i>
				</a>
			</div>
			<!-- End Socials -->

			<!-- desing by-->
			<div class="mt-5 nav-item nav-link">
				<p>
					Tauren ©2019. Design by
					<a class="text-info " href="https://www.linkedin.com/in/rodrigo-delfino-de-carvalho-9ba51811a/">
						Rodrigo Delfino
					</a>
				</p>
			</div>
			<!-- end design by-->

	</div>

</nav>
<!-- End Navigation -->